.text-center {
    text-align: center;
}

form {
    display: inline-block;
    width: 100%;
    max-width: 330px;
    padding: 30px;
    border: 1px solid #673ab7;
    border-radius: 5px;
    text-align: left;
    margin-top: 250px;
}

form img {
    width: 150px;
    display: block;
    margin: 0 auto;
}